<div class="flex flex-col h-fit w-full overflow-y-auto">
    <form class="mb-8">
        <mat-card class="feed-sm:p-3 max-feed-sm:p-1">
            <div class="flex items-center gap-5 mb-4">
                <app-avatar-photo [imageLink]="currentUser.profileImagePath"></app-avatar-photo>

                <mat-form-field class="w-full">
                    <mat-label>What's on your mind ?</mat-label>

                    <textarea matInput [cdkTextareaAutosize]="true"
                              [formControl]="contentControl"
                              #postContent maxlength="300"
                              placeholder="I am thinking about...">
                    </textarea>

                    <mat-hint align="end">{{ postContent.value.length }} / 300</mat-hint>
                </mat-form-field>
            </div>

            <mat-divider class="divider"></mat-divider>

            <div class="flex items-center justify-evenly relative">
                <button mat-button color="basic" aria-label="Attach Image" type="button">
                    <mat-icon>image</mat-icon>
                    Image
                </button>

                <button mat-button color="basic"
                        (click)="isOpened = !isOpened"
                        aria-label="Add Feeling" type="button">
                    <mat-icon>mood</mat-icon>
                    Feeling
                </button>

                <button mat-raised-button color="primary"
                        [disabled]="postContent.value.length === 0"
                        aria-label="New Post" type="submit">
                    <mat-icon>send</mat-icon>
                    Post
                </button>

                @if (isOpened) {
                    <emoji-mart
                            class="picker"
                            color="#0df4e2"
                            set="twitter"
                            title="Pick your emoji…"
                            emoji="point_up"
                            (emojiSelect)="emojiSelected($event)"
                            [darkMode]="true">
                    </emoji-mart>
                }
            </div>
        </mat-card>
    </form>

    @for (post of posts; track post) {
        @if (isPost(post)) {
            <app-post [post]="post"></app-post>
        } @else {
            <app-shared-post [post]="post"></app-shared-post>
        }
    }
</div>
