@if (isAttachingImagesOpened || attachedImages.length > 0) {
    <mat-card class="mt-3">
        @if (isAttachingImagesOpened) {
            <div class="m-2 border-dashed border-2 cursor-pointer rounded-2xl h-56 p-3 flex flex-col items-center justify-center gap-3">
                <div class="font-bold">
                    <input
                        #fileInput
                        type="file"
                        (change)="handleChange($event)"
                        [multiple]="true"
                        [accept]="fileService.allowedFileTypes"
                        class="absolute w-full h-56 cursor-pointer opacity-0 top-0 left-0"/>

                    Drop you image here
                </div>

                <div class="font-light text-xs">
                    Or
                </div>

                <button mat-fab extended
                        (click)="fileInput.click()"
                        color="primary"
                        type="button">
                    <mat-icon>add</mat-icon>

                    <span>Upload</span>
                </button>
            </div>
        }

        @if (attachedImages.length > 0) {
            <div class="mb-3 flex gap-3 w-full overflow-x-scroll h-fit items-center">
                @for (file of attachedImages; track file) {
                    <div class="relative min-w-full h-fit overflow-x-scroll">
                        <img alt="Users image"
                             class="w-full h-fit"
                             src="{{ file.fileUrl }}">

                        <button class="delete-button"
                                (click)="handleRemovesFile(file)"
                                mat-icon-button type="button">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                }
            </div>
        }
    </mat-card>
}
