$primary: (
    50: lighten(#0df4e2, 52%),
    100: lighten(#0df4e2, 37%),
    200: lighten(#0df4e2, 26%),
    300: lighten(#0df4e2, 12%),
    400: lighten(#0df4e2, 6%),
    500: #0df4e2,
    600: darken(#0df4e2, 6%),
    700: darken(#0df4e2, 12%),
    800: darken(#0df4e2, 18%),
    900: darken(#0df4e2, 24%),
    A100: lighten(#0df4e2, 52%),
    A200: lighten(#0df4e2, 37%),
    A400: lighten(#0df4e2, 6%),
    A700: darken(#0df4e2, 12%),
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent: (
    50: lighten(#e20d74, 52%),
    100: lighten(#e20d74, 37%),
    200: lighten(#e20d74, 26%),
    300: lighten(#e20d74, 12%),
    400: lighten(#e20d74, 6%),
    500: #e20d74,
    600: darken(#e20d74, 6%),
    700: darken(#e20d74, 12%),
    800: darken(#e20d74, 18%),
    900: darken(#e20d74, 24%),
    A100: lighten(#e20d74, 52%),
    A200: lighten(#e20d74, 37%),
    A400: lighten(#e20d74, 6%),
    A700: darken(#e20d74, 12%),
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn: (
    50: lighten(#e20d0d, 52%),
    100: lighten(#e20d0d, 37%),
    200: lighten(#e20d0d, 26%),
    300: lighten(#e20d0d, 12%),
    400: lighten(#e20d0d, 6%),
    500: #e20d0d,
    600: darken(#e20d0d, 6%),
    700: darken(#e20d0d, 12%),
    800: darken(#e20d0d, 18%),
    900: darken(#e20d0d, 24%),
    A100: lighten(#e20d0d, 52%),
    A200: lighten(#e20d0d, 37%),
    A400: lighten(#e20d0d, 6%),
    A700: darken(#e20d0d, 12%),
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark-color-settings: (
    main-background-color: #201b31,
    container-background-color: #39304d,
    font-color: #ffffff,
    tooltip-background-color: #443c5c,
);
