@use '@angular/material/index' as mat;

@import "palette";

@include mat.core();

@function replace-color($map, $old-color, $new-color) {
    $new-map: ();

    @each $key, $value in $map {
        @if type-of($value) == map {
            $value: replace-color($value, $old-color, $new-color);
        } @else if $value == $old-color {
            $value: $new-color;
        }

        $new-map: map-merge($new-map, ($key: $value));
    }

    @return $new-map;
}

$default-tooltip-background-color: #616161;

$default-main-background-color: #424242;

$scrollbar: (
    width: 8px,
    border-radius: 20px,
    background-color: #4f4b60
);

$primary-dark: mat.define-palette(
    $base-palette: $primary,
    $default: 500
);

$accent-dark: mat.define-palette(
    $base-palette: $accent,
    $default: 500
);

$warn-dark: mat.define-palette(
    $base-palette: $warn,
    $default: 500
);

$typography: mat.define-typography-config(
    $font-family: 'Open Sans'
);

$dark-theme: mat.define-dark-theme((
    color: (
        primary: $primary-dark,
        accent: $accent-dark,
        warn: $warn-dark
    ),
    typography: $typography
));

$dark-background: map-get($dark-theme, background);

$dark-background: map-merge($dark-background, (
    card: map-get($map: $dark-color-settings, $key: container-background-color),
    dialog: map-get($map: $dark-color-settings, $key: container-background-color),
    selected-disabled-button: map-get($map: $dark-color-settings, $key: container-background-color),
    raised-button: map-get($map: $dark-color-settings, $key: container-background-color),
));

$dark-theme: replace-color(
        $dark-theme,
        $default-main-background-color,
        map-get($map: $dark-color-settings, $key: container-background-color)
);

$dark-theme: replace-color(
        $dark-theme,
        $default-tooltip-background-color,
        map-get($map: $dark-color-settings, $key: tooltip-background-color)
);

@include mat.all-component-themes($dark-theme);
