<mat-card>
    <mat-card-header class="flex justify-between items-center mb-5">
        <mat-card-title>Friends</mat-card-title>

        <div class="flex r-s:gap-3 max-r-s:gap-1 items-center">
            <div class="flex items-center bg-tertiary mm:p-1.5 rounded-xl">
                <input matInput
                       type="text"
                       class="sm:ml-2 bg-tertiary p-1.5 rounded-md focus:outline-none lm:w-full ll:w-80 max-sm:text-xs max-sm:w-18"
                       aria-label="Search Social365"
                       [formControl]="searchSocialControl"
                       placeholder="Your friend name">

                <button mat-mini-fab
                        aria-label="Search"
                        matTooltip="Search"
                        color="primary"
                        type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </div>

            <div class="max-f-xs:hidden">
                <button mat-button color="primary"
                        routerLink="/friends/requests"
                        aria-label="Friend Requests">
                    <span class="max-r-s:hidden">Friend</span> Requests
                </button>
            </div>

            <div class="max-f-s:hidden">
                <button mat-button color="primary"
                        routerLink="/friends/suggestions"
                        aria-label="Find Friends">
                    Find <span class="max-r-s:hidden">friends</span>
                </button>
            </div>
        </div>
    </mat-card-header>

    <mat-card-content>
        <div class="grid feed-sm:grid-cols-3 max-feed-sm:grid-cols-2 max-r-s:grid-cols-1">
            @for (friend of friends.content; track friend) {
                <app-friend-profile [friend]="friend"></app-friend-profile>
            }
        </div>
    </mat-card-content>
</mat-card>
