<mat-card>
    <mat-card-header class="flex justify-between items-center mb-5">
        <mat-card-title>Friends</mat-card-title>

        <div class="flex r-s:gap-3 max-r-s:gap-1 items-center">
            <div class="flex items-center bg-tertiary mm:p-1.5 rounded-xl">
                <input [formControl]="searchSocialControl"
                       aria-label="Search Social365"
                       class="sm:ml-2 bg-tertiary p-1.5 rounded-md focus:outline-none lm:w-full ll:w-80 max-sm:text-xs max-sm:w-18"
                       matInput
                       placeholder="Your friend name"
                       type="text">
            </div>

            <div class="max-f-xs:hidden">
                <button aria-label="Friend Requests" color="primary"
                        mat-button
                        routerLink="/friends/requests">
                    <span class="max-r-s:hidden">Friend</span> Requests
                </button>
            </div>

            <div class="max-f-s:hidden">
                <button aria-label="Find Friends" color="primary"
                        mat-button
                        routerLink="/friends/suggestions">
                    Find <span class="max-r-s:hidden">friends</span>
                </button>
            </div>
        </div>
    </mat-card-header>

    <mat-card-content>
        <div class="grid feed-sm:grid-cols-3 max-feed-sm:grid-cols-2 max-r-s:grid-cols-1">
            @if (friends === undefined) {
                <div class="w-full flex items-center justify-center h-96">
                    <mat-spinner></mat-spinner>
                </div>

            } @else {
                @for (friend of friends.content; track friend) {
                    <app-friend-profile [friend]="friend"></app-friend-profile>
                }
            }
        </div>
    </mat-card-content>
</mat-card>
