<div class="flex flex-col m-2">
    <div class="flex gap-3 items-center">
        <app-avatar-photo [imageLink]="user.profileImagePath"></app-avatar-photo>

        <div class="flex flex-col w-full">
            <span class="font-semibold mb-1">{{ user.fullName }}</span>

            <div class="relative w-full">
                <mat-form-field class="w-full">
                    <mat-label class="max-feed-sm:font-extralight">Tell me more</mat-label>

                    <textarea #comment maxlength="300" type="text"
                              [formControl]="contentControl"
                              [cdkTextareaAutosize]="true"
                              matInput placeholder="I think...">
                    </textarea>

                    <button mat-icon-button matSuffix (click)="this.isOpened = !this.isOpened;">
                        <mat-icon>mood</mat-icon>
                    </button>

                    <input
                        #fileInput
                        type="file"
                        (change)="handleChange($event)"
                        [multiple]="false"
                        [accept]="allowedFileTypes"
                        class="absolute w-full h-56 cursor-pointer opacity-0 top-0 left-0"/>

                    <button mat-icon-button matSuffix
                            (click)="fileInput.click()">
                        <mat-icon>image</mat-icon>
                    </button>

                    <mat-hint align="end">{{ comment.value.length }} / 300</mat-hint>
                </mat-form-field>

                @if (isOpened) {
                    <emoji-mart
                            class="picker"
                            color="#0df4e2"
                            set="twitter"
                            title="Pick your emoji…"
                            emoji="point_up"
                            [isNative]="true"
                            (emojiSelect)="emojiSelected($event)"
                            [darkMode]="true">
                    </emoji-mart>
                }
            </div>

            @if (comment.value.length !== 0 || attachedImage !== null) {
                <div>
                    <button mat-button color="primary" type="button">
                        <mat-icon>send</mat-icon>
                        Comment
                    </button>
                </div>
            }
        </div>
    </div>

    @if (attachedImage !== null) {
        <div class="flex justify-center items-center relative min-w-full h-fit overflow-x-scroll">
            <img alt="Users image"
                 class="w-full h-48"
                 src="{{ attachedImage.fileUrl }}">

            <button class="delete-button"
                    (click)="handleRemovesFile()"
                    mat-icon-button type="button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    }

</div>
