<div class="flex flex-col m-2">
    <div class="flex gap-3 items-center">
        <app-avatar-photo [imageLink]="user.profilePictureUrl"></app-avatar-photo>

        <div class="flex flex-col w-full">
            <span class="font-semibold mb-1">{{ user.fullName }}</span>

            <div class="relative w-full">
                <input
                    #fileInput
                    (change)="handleChange($event)"
                    [accept]="allowedFileTypes"
                    [multiple]="false"
                    class="hidden"
                    type="file"/>

                <mat-form-field class="w-full">
                    <mat-label class="max-feed-sm:font-extralight">Tell me more</mat-label>

                    <textarea #comment [cdkTextareaAutosize]="true" [formControl]="contentControl"
                              matInput
                              maxlength="300"
                              placeholder="I think..." type="text">
                    </textarea>

                    <button (click)="this.isOpened = !this.isOpened;" mat-icon-button matSuffix>
                        <mat-icon>mood</mat-icon>
                    </button>

                    <button (click)="fileInput.click()" mat-icon-button
                            matSuffix>
                        <mat-icon>image</mat-icon>
                    </button>

                    <mat-hint align="end">{{ comment.value.length }} / 300</mat-hint>
                </mat-form-field>

                @if (isOpened) {
                    <emoji-mart
                            class="picker"
                            color="#0df4e2"
                            set="twitter"
                            title="Pick your emoji…"
                            emoji="point_up"
                            [isNative]="true"
                            (emojiSelect)="emojiSelected($event)"
                            [darkMode]="true">
                    </emoji-mart>
                }
            </div>

            @if (comment.value.length !== 0 || attachedImage !== null) {
                <div class="flex items-center justify-between mb-3">
                    <button mat-button
                            (click)="emitCommitCreatedEvent()"
                            color="primary"
                            type="button">
                        <mat-icon>send</mat-icon>
                        Comment
                    </button>

                    @if (comment !== undefined) {
                        <button mat-button
                                (click)="commentCreated.emit(undefined)"
                                color="warn"
                                type="button">
                            <mat-icon>cancel</mat-icon>
                            Cancel
                        </button>
                    }
                </div>
            }
        </div>
    </div>

    @if (attachedImage !== null) {
        <div class="flex justify-center items-center relative min-w-full h-fit overflow-x-scroll">
            <img alt="Users image"
                 class="w-full h-48"
                 [src]="attachedImage.fileUrl">

            <button class="delete-button"
                    (click)="handleRemovesFile()"
                    mat-icon-button type="button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    }

</div>
