<mat-card>
    <mat-card-header>
        <mat-card-title>Photos</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mt-3">
        @if (photos !== undefined && photos.content.length === 0) {
            <div class="flex justify-center items-center text-xl p-5">No photos yet</div>
        } @else {
            <div class="grid p-xl:grid-cols-6 max-p-xl:grid-cols-5 max-r-md:grid-cols-4 max-r-sl:grid-cols-3 max-tb:grid-cols-2 gap-2">
                @for (photo of photos.content; track photo) {
                    <div class="relative max-w-56 max-h-56 rounded-xl mb-3">
                        <img alt="Users image"
                             class="rounded-xl w-full h-full"
                             [src]="photo.imagePath">

                        <button class="edit-button" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item
                                    (click)="handleDownloadImage(photo.imagePath)"
                                    aria-label="Download image">
                                <mat-icon>download</mat-icon>

                                <span>Download</span>
                            </button>
                        </mat-menu>
                    </div>
                }
            </div>
        }
    </mat-card-content>
</mat-card>
