<mat-card class="mb-4">
    <app-post-header (deletePostEvent)="deletePostEvent.emit(post.sharingPost)"
                     (editPostEvent)="editPost($event)"
                     [post]="post.sharingPost"
                     [username]="currentUser.username">
    </app-post-header>

    <mat-card-content class="mb-3">
        <p class="text-justify font-light">
            {{ post.sharingPost.content }}
        </p>
    </mat-card-content>

    <div class="border-solid border-1 m-2 rounded-2xl p-1">
        <app-post-header [isSharedPost]="true" [post]="post.sharedPost"
                         [username]="currentUser.username"></app-post-header>

        <mat-card-content class="mb-3">
            <p class="text-justify font-light">
                {{ post.sharedPost.content }}
            </p>
        </mat-card-content>

        @if (post.sharedPost.imageUrls !== undefined && post.sharedPost.imageUrls.length !== 0) {
            <app-post-image-viewer [imageUrls]="post.sharedPost.imageUrls"></app-post-image-viewer>
        }
    </div>

    <div class="flex justify-between p-2">
        <div class="flex items-center gap-2">
            @if (post.sharingPost.isPostLiked) {
                <mat-icon class="transform scale-75">thumb_up</mat-icon>

                <span class="text-sm">You and {{ post.sharingPost.statistics.likes - 1 }} others</span>
            } @else {
                <mat-icon class="transform scale-75">thumb_up_off_alt</mat-icon>

                <span class="text-sm">{{ post.sharingPost.statistics.likes }}</span>
            }
        </div>

        <div class="flex justify-center items-center gap-3">
            <div class="text-sm">{{ post.sharingPost.statistics.comments }} comments</div>

            <div class="text-sm">{{ post.sharingPost.statistics.shares }} shares</div>
        </div>
    </div>

    <mat-divider class="divider"></mat-divider>

    <mat-card-actions class="flex justify-between">
        <button (click)="likePost()" [color]="post.sharingPost.isPostLiked ? 'primary': 'basic'"
                aria-label="Like"
                mat-button type="button">
            @if (post.sharingPost.isPostLiked) {
                <mat-icon>thumb_up</mat-icon>
            } @else {
                <mat-icon>thumb_up_off_alt</mat-icon>
            }
            LIKE
        </button>

        <button (click)="getCommentsForPost()" aria-label="Comments" mat-button type="button">
            <mat-icon>comment</mat-icon>
            COMMENT
        </button>

        <button (click)="sharePost()" aria-label="Share"
                mat-button
                type="button">
            <mat-icon>share</mat-icon>
            SHARE
        </button>
    </mat-card-actions>

    @if (areCommentsVisible && comments === undefined) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    } @else if (areCommentsVisible) {
        <app-comment-create (commentCreated)="createComment($event)" [user]="currentUser"></app-comment-create>

        @for (comment of comments.data; track comment) {
            <app-comment (commentDeleted)="deleteComment($event)" [comment]="comment"></app-comment>
        }

        @if (comments.hasNextPage) {
            <div class="m-2">
                <button mat-button
                        (click)="loadMoreComments()"
                        type="button">
                    <mat-icon>expand_more</mat-icon>
                    Load More Comments
                </button>
            </div>
        }
    }
</mat-card>
