<mat-card>
    <mat-card-content>
        <div class="grid tb:grid-cols-3 max-tb:grid-cols-1 gap-8">
            <div class="tb:col-span-1">
                <mat-card-title>About</mat-card-title>

                <mat-chip-listbox aria-label="Menu selected" class="mat-mdc-chip-set-stacked">
                    @for (option of options; track option) {
                        <mat-chip-option [selected]="selectedOption === option"
                                         (selectionChange)="handleSelectionChange($event, option)"
                                         [routerLink]="option.route"
                                         color="primary">
                            {{ option.label }}
                        </mat-chip-option>
                    }
                </mat-chip-listbox>
            </div>

            <div class="tb:col-span-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-card-content>
</mat-card>
