<div class="flex flex-col items-start gap-2">
    <mat-card-title>Details</mat-card-title>

    <button mat-button
            color="primary"
            aria-label="Add workplace">
        <mat-icon>add</mat-icon>
        Add a workplace
    </button>

    <button mat-button
            color="primary"
            aria-label="Add education">
        <mat-icon>add</mat-icon>
        Add education
    </button>

    <button mat-button
            color="primary"
            aria-label="Add current city">
        <mat-icon>add</mat-icon>
        Add current city
    </button>

    <button mat-button
            color="primary"
            aria-label="Add hometown">
        <mat-icon>add</mat-icon>
        Add hometown
    </button>

    <button mat-button
            color="primary"
            aria-label="Add a relationship statu">
        <mat-icon>add</mat-icon>
        Add a relationship status
    </button>
</div>
