<div class="flex justify-start gap-3 w-full mb-2 p-2 rounded-md items-center">
    <app-avatar-photo
            (click)="router.navigate([RouterPaths.PROFILE_DIRECT, birthdayInfo.profile.username, RouterPaths.PROFILE_POSTS])"
            [imageLink]="birthdayInfo.profile.profilePictureUrl"
            class="hover:cursor-pointer">
    </app-avatar-photo>

    <div class="flex flex-col w-full">
        <div class="flex justify-between w-full">
            <span class="font-semibold mb-1">{{ birthdayInfo.profile.fullName }}</span>

            <span class="text-xs font-extralight mb-1">{{ birthdayInfo.age }} years old</span>
        </div>

        <div>
            <button color="basic" mat-button>
                <mat-icon>message</mat-icon>
                Send a message!
            </button>
        </div>
    </div>
</div>
