<div class="h-screen relative mt-24">
    <app-toolbar [isOnFeed]="true"></app-toolbar>

    <div class="feed-sm:grid feed-md:grid-cols-4 max-feed-md:grid-cols-2 feed-sm:m-4 h-fit">
        <app-profile-feed class="max-feed-md:hidden feed-md:col-span-1"></app-profile-feed>

        <app-posts-feed [presentedProfileId]="currentUser.profileId"
                        [postsUrl]="PostMappings.GET_POSTS_ON_PAGE"
                        class="feed-sm:m-4 max-feed-sm:mt-2 feed-md:col-span-2">
        </app-posts-feed>

        <app-friends-feed class="max-feed-sm:hidden feed-md:col-span-1"></app-friends-feed>
    </div>
</div>
