<div class="grid lm:grid-cols-2 h-full gap-5">
    <div class="flex flex-col w-full">
        <mat-card class="mb-4">
            <mat-card-header class="flex items-center justify-between mb-2">
                <mat-card-title>Bio</mat-card-title>

                @if (presentedProfile !== undefined && presentedProfile.profileId === currentUser.profileId) {
                    <button mat-icon-button
                            (click)="isEditing = !isEditing"
                            aria-label="edit bio">
                        <mat-icon>edit</mat-icon>
                    </button>
                }
            </mat-card-header>

            <mat-card-content>
                @if (!isEditing || presentedProfile.profileId !== currentUser.profileId) {
                    <span class="text-justify">
                        {{ presentedProfile === undefined || presentedProfile.bio === null ? "" : presentedProfile.bio }}
                    </span>
                } @else {
                    <mat-form-field class="w-full">
                        <textarea matInput
                                  [formControl]="bioControl"
                                  [cdkTextareaAutosize]="true"
                                  placeholder="Enter your bio here">
                        </textarea>
                    </mat-form-field>

                    <button class="w-full" mat-raised-button
                            (click)="editBio()"
                            aria-label="Update bio" color="primary">
                        <mat-icon>done</mat-icon>

                        <span class="font-bold">Submit</span>
                    </button>
                }
            </mat-card-content>
        </mat-card>

        <div class="max-lm:hidden">
            <mat-card class="mb-4">
                <mat-card-header class="mb-2 flex items-center justify-between">
                    <mat-card-title>Photos</mat-card-title>

                    <button (click)="router.navigate([RouterPaths.PROFILE_DIRECT, presentedProfile.username, RouterPaths.PROFILE_PHOTOS])"
                            aria-label="edit bio"
                            color="primary"
                            mat-button>
                        See more photos
                    </button>
                </mat-card-header>

                @if (imageUrls === undefined) {
                    <div class="w-full flex items-center justify-center p-6">
                        <mat-spinner></mat-spinner>
                    </div>
                } @else {
                    <mat-card-content>
                        @if (imageUrls.length === 0) {
                            <div>
                                <p class="text-center">No photos yet</p>
                            </div>
                        } @else {
                            <div class="grid p-xl:grid-cols-3 max-p-xl:grid-cols-2 grid-rows-1 w-full justify-center">
                                @for (image of imageUrls; track image) {
                                    <div class="flex flex-col justify-center items-center hover:cursor-pointer transition duration-300 ease-in-out hover:brightness-110">
                                        <img class="rounded-xl w-56 h-56 object-cover"
                                             [src]="image"
                                             alt="Post photo">
                                    </div>
                                }
                            </div>
                        }
                    </mat-card-content>
                }
            </mat-card>
        </div>

        <div class="max-lm:hidden">
            <mat-card>
                <mat-card-header class="mb-2 flex items-center justify-between">
                    <mat-card-title>Friends</mat-card-title>

                    <button (click)="router.navigate([RouterPaths.PROFILE_DIRECT, presentedProfile.username, RouterPaths.FRIENDS_PATH])"
                            aria-label="edit bio"
                            color="primary"
                            mat-button>
                        See more friends
                    </button>
                </mat-card-header>

                @if (friends === undefined) {
                    <div class="w-full flex items-center justify-center p-6">
                        <mat-spinner></mat-spinner>
                    </div>
                } @else {
                    <mat-card-content>
                        <div class="grid p-xl:grid-cols-3 max-p-xl:grid-cols-2 grid-rows-1 w-full justify-center">
                            @for (friend of (friends | async)?.content; track friend) {
                                <div (click)="navigateToFriendProfile(friend.username)"
                                     (keyup.enter)="navigateToFriendProfile(friend.username)"
                                     tabindex="0"
                                     class="flex flex-col justify-center items-center hover:cursor-pointer transition duration-300 ease-in-out hover:brightness-110">
                                    <img class="rounded-xl w-56 h-56"
                                         [src]="friend.profilePictureUrl"
                                         alt="Post photo">

                                    <span class="font-semibold">{{ friend.fullName }}</span>
                                </div>
                            }
                        </div>
                    </mat-card-content>
                }
            </mat-card>
        </div>
    </div>

    @if (presentedProfile !== undefined) {
        <app-posts-feed [postsUrl]="PostMappings.GET_USERS_POSTS"
                        [presentedProfileId]="presentedProfile.profileId">
        </app-posts-feed>
    }
</div>
