<div class="flex flex-col m-4 h-fit sticky top-26">
    <mat-card class="p-3 sticky">
        <div class="flex flex-col justify-center items-center mb-3">
            <div class="absolute rounded-3xl min-w-16 min-h-16 mb-8">
                <img class="rounded-3xl h-24"
                     ngSrc="{{ profile.profilePhotoLink }}" width="96" height="96" alt="Profile Picture">
            </div>

            <div class="rounded-xl bg-secondary h-24 w-full mb-8"></div>

            <mat-card-title>{{ profile.fullName }}</mat-card-title>

            <mat-card-subtitle>{{ profile.subtitle }}</mat-card-subtitle>
        </div>

        <mat-card-content class="text-justify">
            {{ profile.description }}
        </mat-card-content>

        <div class="mb-3 mt-3">
            <mat-divider></mat-divider>
        </div>

        <div class="flex justify-center items-center gap-20">
            <div class="flex flex-col items-center">
                <p class="font-semibold">{{ profile.postCount }}</p>

                <p class="text-xs font-extralight">Posts</p>
            </div>

            <div class="bg-divider w-px h-full"></div>

            <div class="flex flex-col items-center">
                <p class="font-semibold">{{ profile.numberOfFriends }}</p>

                <p class="text-xs font-extralight">Friends</p>
            </div>
        </div>

        <div class="mb-3 mt-3">
            <mat-divider></mat-divider>
        </div>

        <button class="option-button" mat-button>
            <mat-icon class="transform scale-150">account_circle</mat-icon>
            Profile
        </button>

        <button class="option-button" mat-button>
            <mat-icon class="transform scale-150">people</mat-icon>
            Friends
        </button>

        <button class="option-button" mat-button>
            <mat-icon class="transform scale-150">messages</mat-icon>
            Messages
        </button>

        <button class="option-button" mat-button>
            <mat-icon class="transform scale-150">bookmark</mat-icon>
            Bookmarks
        </button>

        <button class="option-button" mat-button>
            <mat-icon class="transform scale-150">groups</mat-icon>
            Groups
        </button>
    </mat-card>
</div>
