<mat-card>
    <div class="flex justify-between items-center">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

            <mat-card-title>Shiba Inu &middot; <span class="text-sm font-extralight">2h</span></mat-card-title>

            <mat-card-subtitle>Cutest dog you see today</mat-card-subtitle>
        </mat-card-header>

        <button mat-icon-button aria-label="More">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <mat-card-content class="mb-3">
        <p class="text-justify font-light">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>

    <img mat-card-image
         class="mb-4"
         src="https://material.angular.io/assets/img/examples/shiba2.jpg"
         alt="Photo of a Shiba Inu">

    <div class="flex justify-between p-2">
        <div class="flex items-center gap-2">
            <mat-icon class="transform scale-75">thumb_up</mat-icon>

            <span class="text-sm">445</span>
        </div>

        <div class="flex justify-center items-center gap-3">
            <div class="text-sm">155 comments</div>

            <div class="text-sm">25 shares</div>
        </div>
    </div>

    <mat-divider class="divider"></mat-divider>

    <mat-card-actions class="flex justify-between">
        <button mat-button aria-label="Like" type="button">
            <mat-icon>thumb_up</mat-icon>
            LIKE
        </button>

        <button mat-button aria-label="Comments" type="button">
            <mat-icon>comment</mat-icon>
            COMMENT
        </button>

        <button mat-button aria-label="Share" type="button">
            <mat-icon>share</mat-icon>
            SHARE
        </button>
    </mat-card-actions>
</mat-card>
