.divider {
    @apply mb-2 mt-2;
}

.picker {
    z-index: 3;
    position: absolute;
    bottom: 100%;
    right: 0;
    transform: scale(0.8);
    transform-origin: bottom right;
}

@media only screen and (min-device-width: 1024px) {
    .picker {
        transform: scale(1);
    }
}

