<div class="flex justify-between flex-col h-full">
    <div class="p-3">
        <div class="flex gap-5 flex-col">
            <div class="flex gap-3 items-center">
                <app-avatar-photo [imageLink]="currentUser.profilePictureUrl"></app-avatar-photo>

                <div class="flex flex-col">
                    <div>
                        {{ currentUser.fullName }}
                    </div>

                    <div class="font-extralight text-xs">
                        {{ currentUser.subtitle }}
                    </div>
                </div>
            </div>

            <mat-form-field class="w-full">
                <mat-label>What's on your mind ?</mat-label>

                <textarea #postContent [cdkTextareaAutosize]="true"
                          [formControl]="contentControl"
                          matInput maxlength="300"
                          placeholder="I am thinking about...">
                </textarea>

                <button mat-icon-button matSuffix>
                    <mat-icon>mood</mat-icon>
                </button>

                <mat-hint align="end">{{ postContent.value.length }} / 300</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <mat-dialog-actions>
        <div class="flex w-full justify-between">
            <button mat-button mat-dialog-close>
                Close
            </button>

            <button (click)="closeDialog()" color="primary" mat-raised-button>
                <mat-icon>send</mat-icon>
                Share
            </button>
        </div>
    </mat-dialog-actions>
</div>