<form (ngSubmit)="createNewPost()" class="max-feed-sm:mt-3 mb-3">
    <mat-card class="feed-sm:p-3 max-feed-sm:p-1">
        <div class="flex items-center gap-5 mb-4 relative">
            <app-avatar-photo [imageLink]="currentUser.profilePictureUrl"></app-avatar-photo>

            <mat-form-field class="w-full">
                <mat-label>What's on your mind ?</mat-label>

                <textarea #postContent [cdkTextareaAutosize]="true"
                          [formControl]="contentControl"
                          matInput maxlength="300"
                          placeholder="I am thinking about...">
                </textarea>

                <button (click)="isOpened = !isOpened" aria-label="Add Feeling" color="basic"
                        mat-icon-button
                        matSuffix type="button">
                    <mat-icon>mood</mat-icon>
                </button>

                <mat-hint align="end">{{ postContent.value.length }} / 300</mat-hint>
            </mat-form-field>

            @if (isOpened) {
                <emoji-mart
                        class="picker"
                        color="#0df4e2"
                        set="twitter"
                        title="Pick your emoji…"
                        emoji="point_up"
                        [isNative]="true"
                        (emojiSelect)="emojiSelected($event)"
                        [darkMode]="true">
                </emoji-mart>
            }
        </div>

        <mat-divider class="divider"></mat-divider>

        <div class="flex items-center justify-evenly">
            <button (click)="isAttachingImagesOpened = !isAttachingImagesOpened" aria-label="Attach Image"
                    color="basic"
                    mat-button type="button">
                <mat-icon>image</mat-icon>
                Image
            </button>

            <button [disabled]="postContent.value.length === 0 && attachedImagesLength === 0" aria-label="New Post"
                    color="primary"
                    mat-raised-button type="submit">
                <mat-icon>send</mat-icon>
                Post
            </button>
        </div>
    </mat-card>

    <app-drop-image (attachedImagesLength)="attachedImagesLength = $event"
                    [isAttachingImagesOpened]="isAttachingImagesOpened">
    </app-drop-image>
</form>
