<div class="flex flex-col gap-3 ml-2 mr-2">
    <div class="flex flex-col w-full">
        <div class="flex items-center gap-3 w-full">
            <div class="relative">
                <app-avatar-photo [imageLink]="comment.author.profilePictureUrl"></app-avatar-photo>
            </div>

            <div class="bg-secondary rounded-xl p-3 w-full">
                <div class="flex justify-between">
                    <div class="font-semibold">{{ comment.author.fullName }}</div>

                    <span class="text-xs font-extralight hover:cursor-pointer"
                          matTooltip="{{ comment.commentKey.creationDateTime | date: 'medium' }}">
                        {{ comment.commentKey.creationDateTime | postAge }}
                    </span>
                </div>

                <div class="font-extralight w-full text-justify">{{ comment.content }}</div>
            </div>
        </div>

        <div class="flex m-1 gap-3 items-center ml-14">
            <div (click)="onLikeComment()"
                 (keydown.enter)="onLikeComment()"
                 [ngClass]="{
                    'text-primary': comment.isLiked,
                    'hover:bg-mat-primary-hover': comment.isLiked,
                    'hover:bg-mat-hover': !comment.isLiked
                 }"
                 class="mini-button text-primary"
                 matRipple
                 tabindex="0">
                <span class="mr-1">{{ comment.commentLikesCount }}</span> LIKE
            </div>

            <div (click)="isMakingReply = !isMakingReply"
                 (keydown.enter)="isMakingReply = !isMakingReply"
                 class="text-xs font-semibold hover:cursor-pointer p-1.5 rounded-md hover:bg-mat-hover"
                 matRipple
                 tabindex="0">
                REPLY
            </div>
        </div>
    </div>

    @if (isMakingReply) {
        <div [ngClass]="{ 'ml-3': replyLevel - 1 > 0 }">
            <app-comment-create [user]="currentUser"></app-comment-create>
        </div>
    }

    <div [ngClass]="{ 'ml-12': replyLevel > 0 }">
        @if (areRepliesVisible && replyComments.data.length > 0) {
            @for (reply of replyComments.data; track reply) {
                <app-comment [comment]="reply" [replyLevel]="replyLevel - 1"></app-comment>
            }
        }

        @if (comment.hasReplies) {
            <button mat-button (click)="loadReplies()" class="mb-3">
                <mat-icon>expand_more</mat-icon>
                Load replies
            </button>
        }
    </div>
</div>
