<div class="flex flex-col gap-3 ml-2 mr-2">
    <div class="flex flex-col w-full">
        <div class="flex items-center gap-3 w-full">
            <div class="relative">
                <app-avatar-photo [imageLink]="comment.author.profileImagePath"></app-avatar-photo>
            </div>

            <div class="bg-secondary rounded-xl p-3 w-full">
                <div class="flex justify-between">
                    <div class="font-semibold">{{ comment.author.fullName }}</div>

                    <span matTooltip="{{ comment.creationDateTime | date: 'medium' }}"
                          class="text-xs font-extralight hover:cursor-pointer">
                        {{ comment.creationDateTime | postAge }}
                    </span>
                </div>

                <div class="font-extralight w-full text-justify">{{ comment.content }}</div>
            </div>
        </div>

        <div class="flex m-1 gap-3 items-center ml-14">
            <div matRipple
                 (click)="onLikeComment()"
                 (keydown.enter)="onLikeComment()"
                 tabindex="0"
                 [ngClass]="{
                            'text-primary': comment.isLiked,
                            'hover:bg-mat-primary-hover': comment.isLiked,
                            'hover:bg-mat-hover': !comment.isLiked
                     }"
                 class="mini-button text-primary">
                <span class="mr-1">{{ comment.commentLikesCount }}</span> LIKE
            </div>

            <div matRipple
                 tabindex="0"
                 (keydown.enter)="isMakingReply = !isMakingReply"
                 (click)="isMakingReply = !isMakingReply"
                 class="text-xs font-semibold hover:cursor-pointer p-1.5 rounded-md hover:bg-mat-hover">
                REPLY
            </div>
        </div>
    </div>

    @if (isMakingReply) {
        <div [ngClass]="{ 'ml-3': replyLevel - 1 > 0 }">
            <app-comment-create [user]="currentUser"></app-comment-create>
        </div>
    }

    <div [ngClass]="{ 'ml-12': replyLevel > 0 }">
        @if (!isReply) {
            <app-comment [comment]="comment" [replyLevel]="replyLevel - 1" [isReply]="true"></app-comment>
        }
    </div>
</div>
