<nav class="bg-secondary w-full h-fit top-0 flex sm:p-3 max-sm:p-1.5 items-center fixed z-50">
    <h1 class="hover:cursor-pointer ml:text-xl max-ml:text-sm font-bold"
        matTooltip="Get back to the feed"
        routerLink="/feed">
        Social<span class="text-primary">365</span>
    </h1>

    <form (ngSubmit)="navigateToSearch()" class="ml:ml-5 max-sm:ml-1">
        <div class="flex items-center bg-tertiary mm:p-1.5 rounded-xl">
            <input [formControl]="searchSocialControl"
                   [matAutocomplete]="auto"
                   aria-label="Search Social365"
                   class="sm:ml-2 bg-tertiary p-1.5 rounded-md focus:outline-none lm:w-full ll:w-80 max-sm:text-xs max-sm:w-18"
                   matInput
                   placeholder="Users full name"
                   type="text">

            <button (click)="navigateToSearch()"
                    aria-label="Search"
                    color="primary"
                    mat-mini-fab
                    matTooltip="Search"
                    type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </div>

        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
            @for (option of filteredOptions$ | async; track option) {
                <mat-option [value]="option.fullName">
                    <div class="flex items-center gap-2 text-xs">
                        <app-avatar-photo [imageLink]="'/images/nouser@example.com/shiba1.jpg'"></app-avatar-photo>

                        {{ option.fullName }}
                    </div>
                </mat-option>
            }
        </mat-autocomplete>
    </form>

    <span class="flex flex-grow flex-shrink flex-auto"></span>

    <div class="flex gap-5">
        <button aria-label="Notifications"
                class="toolbar-button"
                color="primary"
                mat-mini-fab
                (click)="readNotifications()"
                [cdkMenuTriggerFor]="notificationsMenu"
                matBadge="{{ newNotifications }}"
                matBadgeColor="warn"
                matBadgeHidden="{{ newNotifications === 0 }}">
            <mat-icon>notifications</mat-icon>
        </button>

        <ng-template #notificationsMenu class="rounded">
            <div class="menu-container p-2 flex flex-col">
                @for (notification of notifications; track notification) {
                    <div class="w-96 gap-3 p-2 inline-flex items-center mat-button-ripple rounded-xl mb-2"
                         [ngClass]="!notification.isRead ? 'bg-[#534f63]' : ''"
                         (click)="readNotification(notification)"
                         (mouseleave)="readNotification(notification)"
                         (keyup)="readNotification(notification)"
                         tabindex="0"
                         matRipple
                         cdkMenu>
                        <app-avatar-photo [imageLink]="notification.authorsProfileImageUrl"></app-avatar-photo>

                        <span>{{ notification.notificationText }}</span>
                    </div>
                }
            </div>
        </ng-template>

        <button [matMenuTriggerFor]="menu"
                aria-label="Menu"
                color="primary"
                mat-mini-fab>
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button (click)="router.navigate([RouterPaths.PROFILE_DIRECT, user.username, RouterPaths.PROFILE_POSTS])"
                    aria-label="settings"
                    mat-menu-item>
                <mat-icon>account_circle</mat-icon>

                <span>Profile</span>
            </button>

            <div class="sm:hidden">
                <button aria-label="settings" mat-menu-item>
                    <mat-icon>message</mat-icon>

                    <span>Messages</span>
                </button>
            </div>

            <button (click)="router.navigate([RouterPaths.FRIENDS_DIRECT, RouterPaths.FRIEND_SUGGESTIONS])"
                    aria-label="settings"
                    mat-menu-item>
                <mat-icon>people</mat-icon>

                <span>Friend Suggestions</span>
            </button>

            <div class="sm:hidden">
                <button aria-label="settings" mat-menu-item>
                    <mat-icon>notifications</mat-icon>

                    <span>Notifications</span>
                </button>
            </div>

            <button (click)="router.navigate([RouterPaths.FRIENDS_DIRECT, RouterPaths.FRIEND_REQUESTS])"
                    aria-label="settings"
                    mat-menu-item>
                <mat-icon>people</mat-icon>

                <span>Friend Requests</span>
            </button>

            <button aria-label="settings" mat-menu-item>
                <mat-icon>settings</mat-icon>

                <span>Settings</span>
            </button>

            <button aria-label="logout" mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>

                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</nav>
