@if (birthdayInfos === undefined) {
    <div class="flex w-full items-center justify-center">
        <mat-spinner></mat-spinner>
    </div>

} @else if (birthdayInfos.content.length !== 0) {
    <div>
        <h1 class="text-xl mb-2">Birthdays</h1>

        <button mat-button class="birthday-button mb-4" aria-label="Birthday" (click)="isExpanded = !isExpanded">
            <mat-icon>cake</mat-icon>

            @if (birthdayInfos.content.length === 1) {
                <strong>{{ birthdayInfos.content[0].profile.fullName }}'s</strong> birthday is today!
            } @else {
                <strong>{{ birthdayInfos.content[0].profile.fullName }}</strong> and
                <strong>{{ birthdayInfos.content.length - 1 }}</strong> others have birthday today!
            }
        </button>

        @if (isExpanded) {
            @for (birthdayInfo of birthdayInfos.content; track birthdayInfo) {
                <app-birthday-info [birthdayInfo]="birthdayInfo"></app-birthday-info>
            }

            @if (!birthdayInfos.last) {
                <button mat-button class="birthday-button mb-3"
                        (click)="showInfosDialog()"
                        aria-label="Show more">
                    <mat-icon>expand_more</mat-icon>

                    Show more
                </button>
            }
        }
    </div>

    <div class="mb-4">
        <mat-divider></mat-divider>
    </div>
}
