<app-toolbar [isOnFeed]="false"></app-toolbar>

<div class="flex flex-col items-center m-4 max-sm:m-0 mt-20">
    <div class="bg-tertiary w-full h-64"></div>

    <mat-card class="p-4 w-full mb-5">
        <div class="flex items-center sm:gap-3 max-sm:gap-1 justify-evenly">
            <div class="flex items-center gap-5">
                <div class="h-16 sm:w-36 max-sm:w-32 relative">
                    @if (profileInfo === undefined) {
                        <mat-spinner></mat-spinner>
                    } @else {
                        <img alt="Profile Picture"
                             class="absolute rounded-full max-sm:h-32 max-sm:w-32 sm:h-36 sm:w-36 bottom-[0.1%] border-solid border-4 border-card"
                             [src]="profileInfo.profilePictureUrl">
                    }
                </div>

                @if (profileInfo !== undefined) {
                    <div>
                        <mat-card-title>{{ profileInfo.fullName }}</mat-card-title>

                        <mat-card-subtitle>{{ profileInfo.username }}</mat-card-subtitle>
                    </div>
                }
            </div>

            @if (profileInfo !== undefined && currentUser.username !== profileInfo.username) {
                <div class="flex gap-3">
                    <button mat-raised-button>
                        <mat-icon>persons_tick</mat-icon>
                        Friends
                    </button>

                    <button mat-raised-button color="primary">
                        <mat-icon>message</mat-icon>
                        Message
                    </button>
                </div>
            } @else if (profileInfo !== undefined) {
                <div class="max-sm:hidden">
                    <!--         TODO: add editing profiles background, profile photo           -->
                    <button mat-raised-button color="primary">
                        <mat-icon>edit</mat-icon>
                        Edit profile
                    </button>
                </div>

                <div class="sm:hidden">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            }
        </div>

        <div class="mt-4 mb-3">
            <mat-divider></mat-divider>
        </div>

        <div>
            <nav [tabPanel]="tabPanel" mat-tab-nav-bar>
                @for (option of options; track option) {
                    <span class="w-36" mat-tab-link
                          [routerLink]="option.route"
                          tabindex="0"
                          (keydown.enter)="activeRoute = option"
                          [active]="activeRoute === option"
                          (click)="activeRoute = option">

                        <mat-icon>{{ option.icon }}</mat-icon>

                        <div class="w-1 h-1"></div>

                        {{ option.label }}
                    </span>
                }
            </nav>

            <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
        </div>
    </mat-card>

    <div class="w-full">
        <router-outlet></router-outlet>
    </div>
</div>
