<div class="flex flex-col items-center h-fit max-h-full overflow-y-auto m-4">
    <mat-card class="p-3 w-full h-full">
        <h1 class="text-xl mb-2">Birthdays</h1>

        <button mat-button class="birthday-button mb-4" aria-label="Birthday">
            <mat-icon>cake</mat-icon>

            @if (birthdayInfo.otherBirthdaysCount === 0) {
                <strong>No one</strong> has birthday today.
            } @else if (birthdayInfo.otherBirthdaysCount === 1) {
                <strong>Shiba Inu</strong> birthday is today!
            } @else {
                <strong>Shiba Inu</strong> and <strong>{{ birthdayInfo.otherBirthdaysCount }}</strong> others have birthday today!
            }
        </button>

        <div class="mb-4">
            <mat-divider></mat-divider>
        </div>

        <div class="flex flex-col">
            <h1 class="text-xl mb-2">Friends</h1>

            @for (friend of friends | async; track friend) {
                <app-friend-feed-option [feedOption]="friend"></app-friend-feed-option>
            }
        </div>

        <div class="mb-4 mt-4">
            <mat-divider></mat-divider>
        </div>

        <div class="flex flex-col">
            <h1 class="text-xl mb-2">Group Chats</h1>

            @for (chat of chats | async; track chat) {
                <app-friend-feed-option [feedOption]="chat"></app-friend-feed-option>
            }

            <button mat-button class="birthday-button" aria-label="New chat">
                <mat-icon>add</mat-icon>

                New group chat
            </button>
        </div>
    </mat-card>
</div>
