<div class="flex flex-col items-center h-fit max-h-full overflow-y-auto m-4">
    <mat-card class="p-3 w-full h-full">
        <h1 class="text-xl mb-2">Birthdays</h1>

        <button mat-button class="birthday-button mb-4">
            <mat-icon>cake</mat-icon>

            <strong>Shiba Inu</strong> birthday is today!
        </button>

        <div class="mb-4">
            <mat-divider></mat-divider>
        </div>

        <div class="flex flex-col">
            <h1 class="text-xl mb-2">Friends</h1>

            @for (friend of friends; track friend) {
                <app-friend [friend]="friend"></app-friend>
            }
        </div>
    </mat-card>
</div>
