<div class="flex justify-between items-center">
    <div class="flex items-center p-3 gap-3">
        <app-avatar-photo [imageLink]="post.author.profilePictureUrl"></app-avatar-photo>

        <div>
            <mat-card-title>
                <div class="flex gap-2 items-center">
                    <div>{{ post.author.fullName }}</div>

                    <div class="bg-white rounded-full w-1 h-1"></div>

                    <div [matTooltipPosition]="'above'"
                         class="text-sm font-extralight hover:cursor-pointer"
                         matTooltip="{{ creationDateTime | date: 'medium' }}">
                        {{ creationDateTime | postAge }}
                    </div>
                </div>
            </mat-card-title>

            <mat-card-subtitle>{{ post.author.subtitle }}</mat-card-subtitle>
        </div>
    </div>

    @if (!isSharedPost) {
        <button mat-icon-button aria-label="More" [matMenuTriggerFor]="postOptions">
            <mat-icon>more_vert</mat-icon>
        </button>
    }

    <mat-menu #postOptions="matMenu" xPosition="before">
        @if (post.author.username === username) {
            <button mat-menu-item aria-label="settings">
                <mat-icon>delete</mat-icon>

                <span>Delete Post</span>
            </button>

            <button mat-menu-item aria-label="settings">
                <mat-icon>edit</mat-icon>

                <span>Edit</span>
            </button>
        }

        <button (click)="post.isBookmarked = !post.isBookmarked" aria-label="settings"
                mat-menu-item>
            @if (post.isBookmarked) {
                <mat-icon>bookmark</mat-icon>
            } @else {
                <mat-icon>bookmark_border</mat-icon>
            }

            <span>Bookmark</span>
        </button>

        <button (click)="post.areNotificationTurnedOn = !post.areNotificationTurnedOn" aria-label="logout"
                mat-menu-item>
            @if (post.areNotificationTurnedOn) {
                <div class="flex items-center">
                    <mat-icon>notifications_active</mat-icon>

                    <span>Turn off notifications</span>
                </div>
            } @else {
                <div class="flex items-center">
                    <mat-icon>notifications_off</mat-icon>

                    <span>Turn on notifications</span>
                </div>
            }
        </button>
    </mat-menu>
</div>
