<div class="flex items-center justify-between m-2 p-3 border border-divider rounded-xl">
    <div class="flex items-center gap-3">
        <img [src]="friend.profilePictureUrl"
             (click)="navigateToProfile.emit(friend.username)"
             (keyup.enter)="navigateToProfile.emit(friend.username)"
             tabindex="0"
             alt="Friends Profile Photo"
             class="rounded-xl w-24 h-24 hover:cursor-pointer">

        <div class="flex flex-col">
            <div (click)="navigateToProfile.emit(friend.username)"
                 (keyup.enter)="navigateToProfile.emit(friend.username)"
                 class="hover:cursor-pointer hover:underline"
                 tabindex="0">
                {{ friend.fullName }}
            </div>

            <div class="text-xs font-extralight hover:cursor-pointer hover:underline text-gray-400"
                 matTooltip="Click to show mutual friends">
                {{ friend.numOfMutualFriends }} mutual friends
            </div>
        </div>
    </div>

    <button [matMenuTriggerFor]="menu" aria-label="More" class="center" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu xPosition="before">
        <button aria-label="UnFollow" mat-menu-item>
            <mat-icon>remove_circle_outline</mat-icon>

            <span>Unfollow</span>
        </button>

        <button aria-label="UnFriend" mat-menu-item>
            <mat-icon>person_remove</mat-icon>

            <span>Unfriend</span>
        </button>
    </mat-menu>
</div>
