<div class="flex items-center justify-between m-2 p-3 border border-divider rounded-xl">
    <div class="flex items-center gap-3">
        <img [src]="friend.imageLink"
             class="rounded-xl w-24 h-24"
             alt="Friends Profile Photo">

        <div class="flex flex-col">
            <div>{{ friend.fullName }}</div>

            <div matTooltip="Click to show mutual friends"
                 class="text-xs font-extralight hover:cursor-pointer hover:underline text-gray-400">
                {{ friend.mutualFriends }} mutual friends
            </div>
        </div>
    </div>

    <button class="center" mat-icon-button aria-label="More" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu xPosition="before">
        <button mat-menu-item aria-label="UnFollow">
            <mat-icon>remove_circle_outline</mat-icon>

            <span>Unfollow</span>
        </button>

        <button mat-menu-item aria-label="UnFriend">
            <mat-icon>person_remove</mat-icon>

            <span>Unfriend</span>
        </button>
    </mat-menu>
</div>
