@if (imageUrls.length === 1) {
    <img [src]="imageUrls[currentImage]"
         mat-card-image
         class="w-full hover:cursor-pointer"
         alt="Photo of a Shiba Inu">

} @else if (imageUrls.length === 2) {
    <div class="grid grid-cols-2 gap-1 items-stretch">
        <img [src]="imageUrls[0]"
             class="w-full h-full object-cover hover:cursor-pointer"
             alt="Photo of a Shiba Inu">

        <img [src]="imageUrls[1]"
             class="w-full h-full object-cover hover:cursor-pointer"
             alt="Photo of a Shiba Inu">
    </div>
} @else {
    <div class="grid grid-cols-2 gap-1">
        <img [src]="imageUrls[currentImage]"
             class="w-full h-full object-cover object-center hover:cursor-pointer"
             alt="Photo of a Shiba Inu">

        <div class="grid gap-1">
            <img [src]="imageUrls[1]"
                 class="w-full h-full object-cover hover:cursor-pointer"
                 alt="Photo of a Shiba Inu">

            <div class="relative">
                @if (imageUrls.length - 3 > 0) {
                    <span class="text-4xl absolute left-[50%] bottom-[50%] transform translate-x-[-50%] translate-y-[50%] z-40">
                    + {{ imageUrls.length - 3 }}
                    </span>

                    <img [src]="imageUrls[2]"
                         class="w-full h-full object-cover brightness-50 hover:cursor-pointer"
                         alt="Photo of a Shiba Inu">
                } @else {
                    <img [src]="imageUrls[2]"
                         class="w-full h-full object-cover hover:cursor-pointer"
                         alt="Photo of a Shiba Inu">
                }
            </div>
        </div>
    </div>
}
